@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica, Verdana, Arial;
	color: #333333;
}

a {
	color: #b82525;
	text-decoration: none;
}
h1 {
	color: #696969;
	font-size: 16pt;
}
h1 a{
	font-size: smaller;
}

h2, h3 {
	color: #3636AB;
	margin-left: 20px;
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #CDCDCD;
	font-size: 14pt;
}
#header {
	border-bottom: 1px solid #CDCDCD;
}

#content {
	width: 75%;
	padding: 20px:
	margin: 20px;
}

.hash {
	margin-left: 5px;
}

.hash p{
	margin-left: 40px;
}

#twitter {
	width: 300px;
	position: fixed;
	top: 40px;
	right: 10px;
}

#icon {
	width: 350px;
	height: 438px;
	background-image: url(_img/arthur-small.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#contacts {
	position: fixed;
	top: 10px;
	right: 10px;
}

#footer {
	font-size: small;
	border-top: 1px solid #CDCDCD;
	margin-top: 20px;
}